.container
  .details
    p 
      | Duration: 45'
      br
      | Participants: 12 - 20
    p Ask for more info at Welcome desk
    .info Soon available in french too
  a.btn(href="/experiences/thecamp/play") Next