html(lang="en")
  head
    script(src="https://code.jquery.com/jquery-1.12.4.min.js")
    link(href='/stylesheets/style.css', rel='stylesheet')
  body
    .container
      h1 AUDIOCRUMBS

      div.input-container
        label(for='peersTotal') How many people will join your visit?
        input#peer-count-input(type='number', name='peersTotal')
      .ready-button.button I'm ready
      .status
        span Ready people: 
        span.peers-count 0
        span /
        span.peers-min-count ?
      .debug.debug-on
        .fade for development purposes(change class of this element)
        hr
        .player-container
        .logger
    script(src="/javascripts/websocket.js")