#wrapper.container.centered
  .page-header
    image.logo(src="/images/logo-01.png")
      p – Not your regular audio tour –

  a(href="/experiences")
    image.logo-large(src="/images/logo-02.png")

  a(href="/experiences")
    p.text-muted Touch to begin