html(lang="en")
  head
    script(src="https://code.jquery.com/jquery-1.12.4.min.js")
  body
    h1 HELLO
    .ready-button I'm ready
    .player-container
    .status
      span Connected peers: 
      span.peers-count 0
    .logger
    script(src="/javascripts/websocket.js")