head
  script(src="https://code.jquery.com/jquery-1.12.4.min.js")
  link(href="https://fonts.googleapis.com/css?family=Cabin:400,400i,700,700i",rel="stylesheet")
  link(href='/stylesheets/style.css', rel='stylesheet')
  meta(name="viewport", content="width=device-width, initial-scale=1.0")
body
  #wrapper
    .page-header.flex-grow
      image.logo-small(src="/images/experiences/logo-thecamp.png")
      p 
        span the
        b camp
    != body